<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<h2>Hello {{.Name}},</h2>
		<p>You recently registered to be a member of Connect.</p>
		<p>
			To validate your account click on this <a href="{{.Link}}">link here</a>
		</p>
		<p>
			If your receiving this email without making any actions related to this
			email please ignore.
		</p>
		<p>Thank you.</p>
	</body>
</html>
