<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div>
			<h2>{{.Name}},</h2>
			<p>You requested to update your password</p>
			<p>Your proccess digits: <strong>{{.Digits}}</strong></p>
			<p>
				If you wish to cancel this request or got this email by accident please
				ignore.
			</p>
			<small>Thanks</small>
		</div>
	</body>
</html>
